<!DOCTYPE html>
<html>
<head>
	<title>vdock</title>
	<link rel="icon" href="https://techtaste.in/img/logo.jpg">
	<link rel="stylesheet" type="text/css" href="public/css/main.css">
	<link rel="stylesheet" type="text/css" href="public/css/post.css">
	<link rel="stylesheet" type="text/css" href="public/css/conf.css">
	<link rel="stylesheet" type="text/css" href="public/css/publish.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="sidebar">
	    <nav>
	        <ul class="menu">
	            <li class="menu-item preview"> <i class="fa fa-2x fa-eye     " aria-hidden="true"></i>preview </li>
	            <li class="menu-item code"> <i class="fa fa-2x fa-code    " aria-hidden="true"></i>&nbsp;code </li>
	            <li class="menu-item post"> <i class="fa fa-2x fa-plus " aria-hidden="true"></i> &nbsp;post </li>
	            <li class="menu-item publish"> <i class="fa fa-2x fa-rocket    " aria-hidden="true"></i>publish </li>
	            
	            <li class="menu-item split"> <i class="fa fa-2x fa-columns " aria-hidden="true"></i>&nbsp;split </li>
	            <li class="menu-item config"> <i class="fa fa-2x fa-cogs    " aria-hidden="true"></i>&nbsp;config </li>
	            <li class="menu-item help"> <i class="fa fa-2x fa-info-circle " aria-hidden="true"></i>&nbsp;help </li>
	        </ul>
	    </nav>
    </div>
	<main id="main">
		<div class="main-view preview">
			<iframe id="previewFrame" src="http://localhost:8286/preview/"></iframe>
		</div>
		
		<div class="main-view code">
			<iframe src="ide.html"></iframe>
		</div>
		
		<div class="main-view post">
			<div id="new-post">
				<div>
					<input v-model="postname" placeholder="Enter post name" v-on:keyup.enter="createPost">
					<button v-bind:class="[{ 'disabled': isCreateInProgress }, 'button']" v-on:click="createPost">Create Post</button>
					<p> {{status}} </p>
				</div>
			</div>
		</div>

		<div class="main-view publish">
			<div id="publish-changes">
				<div>
					<input v-model="commitMessage" placeholder="Enter commit msg" v-on:keyup.enter="publishChanges">
					<button v-bind:class="[{ 'disabled': isPublishInProgress }, 'button']"  v-on:click="publishChanges">Publish Changes</button>
					<br><br>
					<span> {{ notification }} </span>
				</div>
			</div>
		</div>

		<div class="main-view split">
			<div>
				<iframe style="width:50%; height: 100%; padding-left:50%;" 
						src="http://localhost:8286/preview/"></iframe>
						
				<iframe style="width:50%; height: 100%;" src="/ide.html"></iframe>
			</div>
		</div>
		
		<div class="main-view config">
			<div id="set-config">
				<div>
			
					<span>Github User id: </span>
					<input v-model="userId" placeholder="Github User Id" v-on:keyup.enter="fetchRepos">
					<button v-bind:class="[{ 'disabled': isFetching }, 'button']" v-on:click="fetchRepos" :disabled="isFetching">Fetch Repositories</button>
			
					<br><br>
					<span>Blog Source :</span>
					<select v-model="blogRepo">
						<option disabled value=""> Select Blog Source</option>
						<option v-for="repo in repos" :value="repo.clone_url">
							{{ repo.name }}
						</option>
					</select>
					
					<span>Branch :</span>
					<select>
						<option>master</option>
					</select>
					<br><br>
					
					<span>My Site Repo : </span>
					<select v-model="siteRepo">
						<option disabled value="">Select Site Repo</option>
						<option v-for="repo in repos" :value="repo.clone_url">
							{{ repo.name }}
						</option>
					</select>
					
					<span>Branch :</span>
					<select>
						<option>master</option>
					</select>
					<br><br>
					
					<span> Email id : </span>
					<input v-model="emailId" placeholder="Email Id">
					<br><br>
					<span> Password   : </span>
					<input v-model="password" type="password" placeholder="Github Password" v-on:keyup.enter="updateConfig">
					<button id="update-config-btn" v-bind:class="[{ 'disabled': isUpdateInProgress }, 'button']" 
							v-on:click="updateConfig" :disabled="isUpdateInProgress">Update Configure</button>
					<br><br>
					<span> {{ notification }} </span>
				</div>
			
			</div>
		</div>
		
		<!-- help info -->
		<div class="main-view help">
			<iframe id="helpView" src="https://techtaste.in/post/vdock-tool/"></iframe>
		</div>

	</main>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<!-- 	<script src="https://unpkg.com/vue"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="public/js/main.js"></script>
	<script src="public/js/post.js"></script>
	<script src="public/js/conf.js"></script>
	<script src="public/js/publish.js"></script>
</body>
</html>
