<span>Blog Repository :</span>
<select v-model="blogRepo">
    <option disabled value="">Please select blog repo</option>

    {{ range . }}
    <option value="{{.CloneUrl}}"> {{ .Name }} </option>
    {{ end }}
</select>

<span>Branch :</span>
<select>
    <option>master</option>
</select>
<br><br>

<span>Site Repository :</span>
<select v-model="siteRepo">
    <option disabled value="">Please select site repo</option>
    {{ range . }}
    <option value="{{.CloneUrl}}"> {{ .Name }} </option>
    {{ end }}
</select>

<span>Branch :</span>
<select>
    <option>master</option>
</select>
<br><br>

<span>Enter github password id: </span>
<input v-model="password" type="password" placeholder="Github password">

<button id="update-config-btn" v-on:click="updateConfig">Update Configure</button>